<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
			<Identity Name="30461SergeyNesenenko.623483A75F8F5" Publisher="CN=1B73F0DB-7510-4F61-A639-8CC993880749" Version="1.0.0.0" />
	    <mp:PhoneIdentity PhoneProductId="1b361c43-6266-4453-9518-3892751b61e2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>Artek</DisplayName>
        <PublisherDisplayName>Artek</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Artek.App">
            <uap:VisualElements 
			  DisplayName="Artek"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="This is a four section personal app to share with those you are close with who want to keep up with you."
              BackgroundColor="transparent">
                <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#27282c"/>
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
</Package>
